version: "3.9"

services:
  web:
    build: .
    command: gunicorn secure_arcade.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./app:/code
    env_file:
      - .env
    depends_on:
      - db
    expose:
      - 8000

  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

volumes:
  postgres_data: